<div class="center jumbotron">
  <h1>Hey ! Welcome to alpha blog !</h1>
  <p> Here you can find everything about ruby and ruby on rails applications</p>
  <%= link_to "Sign up now", "#", class: "btn btn-custom btn-lg"%>
</div>