$navbar-default-bg: #337ab7;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float: left;
	font-size: 1.7em;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #ffffff;
	text-decoration: none;
}

.btn-custom{
	background-color: #337ab7;
	color: #ffffff;
}

.center {
	text-align: center;
}

.jumbotron {
	color: #ffffff;
	text-shadow: 2px 2px 20px #000000;
	background-image: asset-url("bg.jpg");
}

footer {
	margin-top: 200px;
	padding-top: 20px;
	border-top: 1px solid #337ab7;
	color: #777;
	text-align: center;
}

footer ul {
	padding: 0;
}

footer ul li {
	list-style-type: none;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

.article-meta-details {
	border-top: 1px solid #eaeaea;
	margin-top: 15px;
	margin-bottom: 15px;
}
